#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.city-list {
  position: inherit;
  top: 100px;
}

.city-details {
  margin-top: 100vw;
}

.home-link {
  margin-bottom: 30vw;
}